* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: azure;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 80%;
}
.image-wrapper {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 10px 10px 20px grey;
}

button {
    padding: 5px 20px;
}