@font-face {
    font-family: 'Forum';
    src: url('./assets/fonts/Forum-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
    background-color: azure;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 30px 10px;
    background-color: rgb(161, 161, 161);
}

button {
    padding: 10px 30px;
    margin: 20px 0;
    font-size: 20px;
}

#search-field {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

#search-field::placeholder {
    padding-left: 15px;
    font-size: 20px;
    color: rgb(175, 175, 175);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 20px;
    width: 90%;
    height: 2500px;
    padding: 20px;
    background-color: lightgrey;
}

.gallery-item {
    align-self: stretch;
    width: calc((90vw - 90px) / 3);
    height: auto;
    object-fit: contain;
    background-color: burlywood;
    cursor: pointer;
}

.gallery-item:hover {
    border: 10px solid lightgrey;
    transition: 0.3s;
}

footer {
    display: flex;
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px;
    height: auto;
    background-color: #0C0C0E;
}

footer p {
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

#rsschool {
    width: 90px;
    height: 40px;
    margin: 0;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
}