
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-width: 1000px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 30px 10px;
    color: wheat;
    background-color: rgb(161, 161, 161);
    z-index: 2;
}

#score-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#coordinates {
    width: 10rem;
    height: 40px;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: cornflowerblue;
    background-color: black;
    border-radius: 5px;
}

main {
    display: flex;
    width: var(--main-width);
    height: 80vh;
    padding: 20px;
    background-color: goldenrod;
}

#field {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    background-color: chocolate;
}

#ball {
    position: absolute;
    bottom: 60px;
    left: 60px;    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

#launch-pad {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 100px;
    height: 20px;
    background-color:aqua;
    border: 2px solid blue;
    cursor: pointer;
}

#power-layer {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 2;
}


#splashBox {
    display: none;
    width: auto;
    height: calc(100vmin);
    transform: translate(0, 0);
    z-index: 3;
}


footer {
    display: flex;
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px;
    height: 10vh;
    background-color: #0C0C0E;
}

footer p {
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: var(--main-width);
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

#rsschool {
    width: 90px;
    height: 40px;
    margin: 0;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
}

