@font-face {
    font-family: 'Forum';
    src: url('../assets/fonts/Forum-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forum Bold';
    src: url('../assets/fonts/Forum-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../assets/fonts/Inter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body, header, main, footer {
    box-sizing: border-box;
}


body {
    color: white;
    background-color: blanchedalmond;
}

#main-wrapper {
    margin: 0 auto;
    width: 1440px;
    background-color: darkgray;
}

/* common */
h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    width: auto;
    height: 40px;
    padding-top: 20px;    
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
}

h2::after {
    content: ' ';
    display: block;    
    width: 50px;
    height: 1px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #0C0C0E;
}

p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
}

/* common end */

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 20px;
    color: white;
    background-color: black;
}

#header-title {
    font-family: Forum;
    font-size: 30px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
}

nav ul {
    margin-right: 10px;
}

nav li {
    display: inline-block;    
    margin-right: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}
/* header end */


/* welcome */
#welcome {
    height: 600px;
    background-color: black;
    background-image: url(../assets/img/Welcome.jpg);
}

#overlay {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%); ;
}

#welcome-title {
    width: 520px;
    height: 150px;
    margin-top: -80px;
    padding: 35px 40px;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color:  #0C0C0E;
}

/* Welcome end */

/* About */

#about {
    height: 823px;
    background-color: white;

}

#carousel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 560px;
    margin-top: 20px;
    padding: 0 20px;    
}

#carousel-pagination {
    display: flex;
    justify-content: space-between;
    width: 78px;
    height: 26px;
    margin: 35px auto;
}

.carousel-bullet-box {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.carousel-bullet {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.carousel-bullet-box:first-child .carousel-bullet {
    background-color: #BB945F;
}


/* About end */

/* Favorites */

#favorites {
    height: 1437px;
    background-color: white;
}

#season-pick-radios {
    margin-left: 20px;
    padding-top: 40px;;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        color: black;
}

#season-pick-radios div {
    display: inline-block;
    margin-right: 45px;
    font-family: Inter;
    font-size: 20px;
    color: #000;
}

#season-pick-radios label {
    margin-left: 20px;
}

#favorites-items-wrapper {
    display: flex;
    height: 1150px;
    background-color: lightslategray;
}

.favorite-item {
    display: flex;
    height: 555px;

}
