@font-face {
    font-family: 'Forum';
    src: url('../assets/fonts/Forum-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forum Bold';
    src: url('../assets/fonts/Forum-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../assets/fonts/Inter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body, header, main, footer {
    box-sizing: border-box;
}


body {
    color: white;
    background-color: blanchedalmond;
}

#main-wrapper {
    margin: 0 auto;
    width: 1440px;
    background-color: darkgray;
}

/* common */
h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    width: auto;
    height: 40px;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    letter-spacing: 2px;
    color: #0C0C0E;
}

h2::after {
    content: ' ';
    display: block;    
    width: 50px;
    height: 1px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #0C0C0E;
}

p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
}

section:not(#welcome) {
    padding: 20px 20px 40px;
    color: black;
    background-color: white;
}

/* common end */

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 20px;
    color: white;
    background-color: black;
}

#header-title {
    font-family: Forum;
    font-size: 30px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
}

nav ul {
    margin-right: 10px;
}

nav li {
    display: inline-block;    
    margin-right: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}
/* header end */


/* welcome */
#welcome {
    height: 600px;
    background-color: black;
    background-image: url(../assets/img/Welcome.jpg);
}

#overlay {
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%); ;
}

#welcome-title {
    width: 520px;
    height: 150px;
    margin-top: -80px;
    padding: 35px 40px;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color:  #0C0C0E;
}

/* Welcome end */

/* About */

#about {
    box-sizing: border-box;
    height: 823px;
    background-color: white;
}

#carousel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 560px;
    margin-top: 20px;
    padding-bottom: 40px;    
}

#carousel-pagination {
    display: flex;
    justify-content: space-between;
    width: 78px;
    height: 26px;
    margin: 0 auto;
}

.carousel-bullet-box {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.carousel-bullet {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.carousel-bullet-box:first-child .carousel-bullet {
    background-color: #BB945F;
}


/* About end */

/* Favorites */

#favorites {
    height: 1439px;
}

#season-pick-radios {
    margin-left: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
 
}

#season-pick-radios, #season-pick-radios input:checked + label {
    font-weight: 700;
}

#season-pick-radios div {
    margin-left: -5px; /* подгонка */
    display: inline-block;
    font-weight: 400;
}

input[name="season"] {
    display: none;
}

#season-pick-radios label {
    margin-right: 90px;
}

#season-pick-radios label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 20px;
    background-image: url(../assets/img/radio.svg);
}

#season-pick-radios input:checked + label:before {
    background-image: url(../assets/img/radio-checked.svg);
}

#favorites-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 220px; /* подгонка */
    height: 1439px;
}

.favorite-item {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: 555px;
    width: 550px;
    padding: 15px 20px;
    text-align: left;
    border: 1px solid black;
}

#staff-picks {
    margin-bottom: 20px;    
    font-family: Forum;
    font-size: 20px;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;

}

#staff-picks::after {
    content: ' ';
    display: block;
    left: 0;    
    width: 60px;
    height: 1px;
    background-color: #0C0C0E;
}

#favorite-item-title {
    margin-bottom: 20px;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

#favorite-item-title span {
    text-transform: uppercase;
}

#favorite-item-description {
    width: 355px;
    margin-bottom: 15px;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize; 
}

.favorite-button {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

#favorite-book1 {
    position: absolute;
    bottom: -1px;
    right: -40px;    
}

/* Favorites end */

/* Coffee shop */

#coffee-shop {
    height: 841px;
}

#coffee-shop-intro {
    margin-bottom: 40px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

#coffe-shop-menu-wrapper {
    display: flex;
    justify-content:space-between;
    height: 841px;
}
/* 
#coffee-shop table {
    width:  ;
} */

th:first-child {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

#coffee-n-tee tr th:first-child {
    text-align: left;
}


#desserts-n-caces tr th:first-child {
    text-align: right;
}

.menu-title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Coffee shop end */

/* Our Contacts */
