@font-face {
    font-family: 'Forum';
    src: url('./assets/fonts/Forum-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Forum Bold';
    src: url('./assets/fonts/Forum-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./assets/fonts/Inter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/img/mahagoni.jpg);
}

#main-wrapper {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    height: auto;
    width: auto;
    padding: 40px;
    margin: 40px 0;
    gap: 40px;
    border-radius: 20px;
    background-image: url(./assets/img/nutwood.jpg); 
}

#top-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:start;    
    flex-grow: 1;
    gap: 50px;
    height: 480px;
}

#controls {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
}

.hidden-control {
    display: none;
}

#screen {
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
}

#screen img {
    width: auto;
    height: 100%;
    border-radius: 30px;
}

#audio-info {
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    color: white;
}

#right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    padding: 20px 0;
    justify-content: space-between;
}

#logo {
    font-family: 'Inter Bold';
    font-size: 3rem;
    color: goldenrod;
}

#author {
    font-size: 2.5rem;    
}

#song-name {
    font-size: 1.8rem;
}

#indication-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#progress-bar-wrapper {
    display: flex;
    flex-direction: row;
    width: auto;
}

#progress-bar-track {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 50vw;
    height: 100px;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 249, 196);
    box-shadow: -32px 34px 16px -21px rgba(34, 60, 80, 0.56) inset;
    z-index: 1;
}

#thumb-wrapper {
    position: absolute;
    left: -15px;
    width: 30px;
    height: 80px;
}

#progress-bar-thumb {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    top:-20px;
    left: 0;
    width: 30px;
    border-top: 60px solid rgba(171, 229, 213, 0.5);
    border-left: 10px solid transparent ;
    border-right: 10px solid transparent;
    box-shadow: 40px 43px 16px -25px rgba(34, 60, 80, 0.22);
    cursor: pointer;
}

#thumb-needle {
    position: relative;
    height: 60px;
    width: 3px;
    background-color: red;
    transform: translateY(-60px);
}

#scale {
    position: absolute;
    left: 10px;
    top: 20px;
    right: 10px;
    bottom: 50px;
    background-image: linear-gradient(to left, transparent 80%, rgb(40, 40, 40) 80%);
    background-size: 8px;
}

#lyrics {
    align-self: center;
    font-family: 'Forum';
    font-size: 1rem;
    padding: 3px 20px;
    margin-bottom: 10px;
    border: 1px dashed black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

#song-text {
    visibility: hidden;
    height: 100%;
    cursor: pointer;
}

#lyrics:hover {
    font-weight: bold;
    transform: 0.5s;
}

[id$="-btn"] {
    width: 100px;
    height: 100px;
    margin: 30px 0;
    border-radius: 15px;
    background-color: rgb(245, 240, 215);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#backward-btn {
    background-image:url('./assets/controls/backward.png');
}

#forward-btn {
    background-image:url('./assets/controls/forward.png');
}

.play {
    background-image:url('./assets/controls/play.png');
}

.pause {
    background-image:url('./assets/controls/pause.png');
}

#player-time {    
    width:max-content;
    height: 100px;
    padding: 0 10px;
    line-height: 100px;
    border-radius: 25px;
    font-size: 40px;
    color: brown;
    background-color: rgba(255, 249, 196);
    box-shadow: -32px 34px 16px -21px rgba(34, 60, 80, 0.56) inset;
}

footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    height: auto;
    background-color: #0C0C0E;
}

footer p {
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

#rsschool {
    width: 90px;
    height: 40px;
    margin: 0;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
}